{
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    }
}